<section id="clients">

	<h3>Clients</h3>

	<div class="clients-container">

		<div class="clients-prev"></div>

		<div class="clients-belt">
			<div class="clients-unit clients-active">
				<div class="clients-info">
					<img src="assets/img/clients/face1.jpg">
					<p>SCOTT SUMMERS</p>
					<span>Director of Design, Quebec Int.</span>
				</div>

				<div class="clients-text"> specializes in making things for human people. Most of the things he makes are digital interfaces, but he also puts effort into crafting next level beats and Youtube videos about making codes happen.I design search at Google and try to share what I learn by making videos, giving talks, recording podcasts, & writing things down.
				</div>
			</div>

			<div class="clients-unit">
				<div class="clients-info">
					<img src="assets/img/clients/face2.jpg">
					<p>SCOTT SUMMERS</p>
					<span>Director of Design, Quebec Int.</span>
				</div>

				<div class="clients-text">CLIENT 02</div>
			</div>

			<div class="clients-unit">
				<div class="clients-info">
					<img src="assets/img/clients/face3.jpg">
					<p>SCOTT SUMMERS</p>
					<span>Director of Design, Quebec Int.</span>
				</div>

				<div class="clients-text">CLIENT 03</div>
			</div>

			<div class="clients-unit">
				<div class="clients-info">
					<img src="assets/img/clients/face4.jpg">
					<p>SCOTT SUMMERS</p>
					<span>Director of Design, Quebec Int.</span>
				</div>

				<div class="clients-text">CLIENT 04</div>
			</div>
		</div>

		<div class="clients-next"></div>

	</div>

	<div class="clients-logoContainer">
		<img src="assets/img/clients/logo1.png" class="clients-logo">
		<img src="assets/img/clients/logo2.png" class="clients-logo">
		<img src="assets/img/clients/logo3.png" class="clients-logo">
		<img src="assets/img/clients/logo4.png" class="clients-logo">
	</div>



</section>




























