<section id="contact">
	<h3>CONTACT</h3>

	<div class="contact-social">
		<a href="">{% include social/youtube.html %}</a>
		<a href="">{% include social/deviantart.html %}</a>
		<a href="">{% include social/facebook.html %}</a>
		<a href="">{% include social/instagram.html %}</a>
		<a href="">{% include social/twitter.html %}</a>
		<a href="">{% include social/skype.html %}</a>
	</div>

	<hr>

	<a href="mailto:wendell010203@gmail.com" class="contact-big">wendell010203@gmail.com</a>
</section>

<section id="emailme">
	<h3>LETS WORK TOGETHER</h3>

	<form action="https://formspree.io/wendell010203@gmail.com" method="POST">
	    <input type="text" name="name" placeholder="Your Name">

	    <input type="email" name="_replyto" placeholder="Your Email">

	    <label> Tell me about your project
	    <textarea name="message" placeholder="Your Message"></textarea>
	    </label>

	    <input type="submit" value="Send">
	</form>
</section>






























