<footer>
	<img src="../assets/img/favicons/favicon.ico">

	<div>
		<nav>
			<a href="#about-me">About Me</a>
			<a href="#work">Work</a>
			<a href="#clients">Clients</a>
			<a href="#contact">Contact</a>
		</nav>

		<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Rocket">Rocket</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<p>
			All content copyright 2014
		</p>
	</div>

</footer>
























